body{
    
    background-color:rgba(255, 99, 71, 0.1);
    height: 100vh; /* Permet de centrer 
    verticalement sur toute la hauteur de la vue */
    /*display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;*/
     display: grid; 
     place-items: center;
}

.container{
    width: 530px;
    height: 400px;
    display:inline-flex;
    
    
}


.image_perfum{
    height: 400px;
    border-radius: 10px 0 0 10px;
       
}
.block_2{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  width: 265px;
  border-radius: 0 10px 10px 0;
  background-color: white;

}




.info_perfum{
    width: 190px;
  
    
}


.produit{
  font-family: metropolis;
  font-size:12px;
  letter-spacing: 0.5em;
}

.nom-produit{
font-family:minggola;
font-size:35px;
margin-top: 2px;

}

.description{
  font-family:Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 12px;
  margin-top: -20px;
}

.price{
  display: flex;
  margin-top: -5px;
  
}

.price:first{
    font-family: 'baskerville', Times, serif;
    font-size: 23px;
    font-weight: bolder;
}

.price, h6{
  padding: 5;
  font-family: minggola'baskerville', Times, serif;
  font-weight: bold;
  font-size: 13px;
  font-weight: bolder;
}


button{
    padding: 5px;
    width: 190px;
    height: 35px;
    text-align: center;
    background: rgb(26, 65, 49);
    border: none;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: -20px;
}



h1{
    color: rgb(26, 65, 49);
}

h6{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;  
  color: gray;
  text-decoration: line-through;
}

.button, a{
    
    font-size: 11px;
    text-decoration: none;
    color: white;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.image-container {
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  
  /* Styles spécifiques pour les écrans larges */
  @media screen and (min-width: 1024px) {
    .image-container {
      background-image: url('image-large.jpg');
    }
  }
  
  /* Styles spécifiques pour les écrans moyens */
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .image-container {
      background-image: url('image-medium.jpg');
    }
  }
  
  /* Styles spécifiques pour les écrans petits */
  @media screen and (max-width: 767px) {
    .image-container {
      background-image: url('image-small.jpg');
    }
  }
  