hmtl{
  background-image: ;  
    
}

article{
    height: 600px;
    width:400px;
    background-color: white;
    display: grid;
    place-items: center;
}

.text{
    width: 300px;
    text-align: center;
}